/* reset */
*{margin: 0;padding: 0; box-sizing: border-box; }
body{font-family: Georgia, serif; color: #252525;}
/* menu */
.menu{background: #252525; padding: 20px 0;}
/* pesquisar: clearfix atigo */
.menu-container{max-width: 960px; margin: auto;}
/* sempre atribuido ao container dos elementos com flutuação, ele limpa a flutuação*/
.menu-container::after, .menu-container::before{content:''; display: table; clear: both;}
.logo{display: block; float: left;margin-left: 10px;}
.menu-nav{float:right ; margin-right: 10px;}
.menu-nav li{display: inline-block;}
.menu-nav a{display: block; padding: 10px; text-decoration: none; color: #fff; font-size: 1.125em; }
/* 
por quanto voce quer dividir? / pelo pixel base
          18   
                         /        16
18/16 = 1.125em  
32/16 = 2em   

é interessante colocar uma font base no HTML, geralmente é um 16 dos navegadoreres, mas para garantir, defina um font size no html
*/
/* intro */
.intro{background: url(../img/bg-intro.jpg) no-repeat center center; background-size: cover; padding:150px 0; text-align: center; color:#fff; }
.intro h1{text-transform: uppercase; font-size: 3em;}
.intro h1::after{content:''; display: block; width: 20px; height: 4px; background-color: #fff; margin: 10px auto;}
.intro p{font-style: italic; font-size: 1.125em;}
/* sobre */
.sobre{padding: 60px 0;}
.sobre-container{max-width: 960px; margin: auto;}
.sobre-container::after, .sobre-container::before{content:''; display: table; clear: both;}
.sobre h2{text-align: center; font-weight: 2.25em;margin-bottom: 60px;}
.sobre-item{width: 460px; float: left; margin: 0 10px;}
.sobre-item img{display: block;max-width: 100%;}
.sobre-item h3{font-size: 2.25em; background: #252525; color: #fff; width: 220px; font-style: italic; font-weight: normal; text-align: center; padding:5px 0 10px 0 ; line-height: 1em; position: relative; top: -25px;}





















